.page_body {
    background-image: url("../images/background.jpg");
}

.main_nav .nav_list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 3px;
}
  
.main_nav .nav_list li::after {
    content: "|";
    margin-left: 4px;
    color: black;
}
  
.nav_list li:last-child::after {
    content: "";
}  

.page_body .header_image,
.page_body .footer_image {
    width: 100%;
    max-width: 100%;
}
.main_home_page .home_page_heading, .main_home_page .home_page_subheading, .main_course_page .underlined_heading, .main_gallery_page .underlined_heading {
    text-decoration: underline;
    font-weight: bold;
}

.main_home_page .home_page_heading,
.main_course_page .centered_heading {
    display: flex;
    justify-content: center;
}

.home_page_images .home_img_1 {
    border: 5px solid #000000;
    float: left;
    width: 300px;
    height: 200px;
}

.home_page_images .home_img_2 {
    border: 5px solid #000000;
    float: right;
    width: 300px;
    height: 200px;
}

.main_course_page .course_img_1 {
    float: left;
    padding-right: 3px;
    width: 300px;
}

.main_course_page .course_img_2 {
    float: right;
    padding-left: 3px;
    width: 300px;
}

.navbar .gallery_span_color {
    color: rgb(0, 139, 139);
}

.main_gallery_page .image_page_main {
    display: flex;
    justify-content: center;
    color: rgb(0, 139, 139);
}

.main_gallery_page .gallery_page_div {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.gallery_page_div .gallery_imgs_div {
    height: 180px;
    width: 250px;
    border: 5px solid #0000FF;
}

.gallery_page_div .gallery_imgs {
    height: 180px;
    width: 250px;
}
