.body {
    background-image: url("/assets/images/background.jpg");
}

.body .header_image,
.body .footer_image {
    width: 100%;
    max-width: 100%;
}
.main_home_page .home_page_heading, .main_home_page .home_page_subheading, .main_course_page .underlined_heading, .main_gallery_page .underlined_heading {
    text-decoration: underline;
}

.body .nav_home_page {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 18px;
}

.main_home_page .home_page_heading,
.centered_heading {
    display: flex;
    justify-content: center;
}

.home_page_images .home_page_left_img {
    border: 5px solid #000000;
    float: left;
    width: 300px;
    height: 200px;
}

.home_page_images .home_page_right_img {
    border: 5px solid #000000;
    float: right;
    width: 300px;
    height: 200px;
}

.body .navbar {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
}

.main_course_page .course_left_img {
    float: left;
    padding-right: 3px;
    width: 300px;
}

.main_course_page .course_right_img {
    float: right;
    padding-left: 3px;
    width: 300px;
}

.navbar .gallery_span_color {
    color: rgb(0, 139, 139);
}

.main_gallery_page .image_page_main {
    display: flex;
    justify-content: center;
    color: rgb(0, 139, 139);
}

.main_gallery_page .gallery_page_div {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.gallery_page_div .gallery_page_images_div {
    height: 180px;
    width: 250px;
    border: 5px solid #0000FF;
}

.gallery_page_div .gallery_page_images {
    height: 180px;
    width: 250px;
}